<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h4{
  text-align: left;
}
body {
  margin:0;
  text-align: center;

}

.topnav {
  overflow: hidden;
  background-color: #8EE5CE;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #D5D5D5;
  color: black;
}

.topnav a.active {
  background-color: #8EE5CE;
  color: white;
}
body {
   background-image: url('static', filename= "blue.jpg");
 }
</style>
</head>
<body>

<div class="topnav">
  <a href="/home">Home</a>
  <a href="/search">Search</a>
  <a href="/profile">Profile</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>


<h4> LS </h4>
<img src= "{{ url_for('static', filename= 'germany.jpg') }}" alt="Mainz Germany View" style="width:600px; height: 500px";>
<img src= "{{ url_for('static', filename= 'Profile_avatar.png') }}" style="width:80px; height: 70px";>
<h4> My trip tp Germany was awsome, it was the first time I go to Germany in winter, and I loved it. Going to Germany in an advent time is really great, because there are a lot of sales and christmas markets everywhere.</h4> 

</body>
</html>
